.App-header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #e11d3f;
  padding: 20px;
  color: #e11d3f;
}

.App-logo {
  height: 50px;
  margin-right: 20px;
}

.App-body {
  padding: 30px;
  font-size: 1.2rem;
}

.App-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 3px solid #e11d3f;
  text-align: center;
  font-style: italic;
  padding: 10px 0;
}
